{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <article class="article">
        <header>
            <h1>API</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/api/quote">Quote</a></li>
            </ul>
        </nav>
    </article>
{% endblock %}
