{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
        <article class="article">
            <header>
                <h1>Redovisning av kursmoment i kursen</h1>
            </header>

            <section>
                <h2 id="kmom01">Kmom01</h2>
                <p>
                    Mina tidigare erfarenheter kring objektorientering kommer främst från objektorienterad spelprogrammering där jag koda i C# och lite kommer också från pythonkursen som avslutade nyss. 
                    Där jobbade jag med klasser, inkapsling, arv och polymorfism. Jag lärde mig hur man skapade klasser och vad det innehåller. 
                    Det finns en speciell metod som kallas konstruktor där man insisterar nya objekt när det skapas. 
                    Lärde mig också om abstrakta klasser och hur man kan ärva från andra klasser dock var det lite skillnad mellan C# och python. 
                    I C# kan man bara ärva från en basklass medan i python kan man ärva från flera. 
                    C# är mer organiserad och har konsekvent syntaxer medan python är dynamisk typning och variabelns datatyp tilldelas när programmet körs.
                </p>
                <p>

                </p>
                <p>

                </p>
                <p>

                </p>
                <p>
                    Mitt TIL för detta kursmomentet är hur man bygger en webbapplikation i Symfony.
                </p>
            </section>

            <section>
                <h2 id="kmom02">Kmom02</h2>
                <p>
                </p>
            </section>

            <section>
                <h2 id="kmom03">Kmom03</h2>
                <p>
                </p>
            </section>

            <section>
                <h2 id="kmom04">Kmom04</h2>
                <p>
                </p>
            </section>

            <section>
                <h2 id="kmom05">Kmom05</h2>
                <p>
                </p>
            </section>

            <section>
                <h2 id="kmom06">Kmom06</h2>
                <p>
                </p>
            </section>

            <section>
                <h2 id="kmom10">Kmom10</h2>
                <p>
                </p>
            </section>
        </article>

        <aside class="aside aside-left">
            <h4 style="width: 120px">Innehåll<h4>

            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom10">Kmom10</a></li>
        </aside>
    </div>
{% endblock %}
